@model MovieRecordsManagement.WebMVC.Models.MovieEditPageViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MovieViewModel.Id"/>
            <div class="form-group">
                <label asp-for="MovieViewModel.MovieTitle" class="control-label"></label>
                <input asp-for="MovieViewModel.MovieTitle" class="form-control" />
                <span asp-validation-for="MovieViewModel.MovieTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieViewModel.YearReleased" class="control-label"></label>
                <input asp-for="MovieViewModel.YearReleased" class="form-control" />
                <span asp-validation-for="MovieViewModel.YearReleased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieViewModel.Rating" class="control-label"></label>
                <select asp-for="MovieViewModel.Rating" asp-items="Model.RatingListItems" class="form-control"></select>
                <span asp-validation-for="MovieViewModel.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
